@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}


#custom-grid-size {
  grid-template-columns: repeat(20, minmax(0, 1fr));
  grid-template-rows: repeat(10, minmax(0, 1fr));
}

.width-col-span {
  grid-column: span 18 / span 18;
}