@import 'tailwindcss';

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --animate-marquee: marquee 10s linear infinite;
  --animate-marquee2: marquee2 10s linear infinite;
  --animate-pulseDown: pulseDown 1s linear infinite;

  @keyframes marquee {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(-100%);
    }
  }
  @keyframes marquee2 {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(0%);
    }
  }

  @keyframes pulseDown {
    0% {
      opacity: 0%;
    }
    20% {
      transform: translateY(0px);
      opacity: 100%;
    }
    70% {
      transform: translateY(10px);
      opacity: 0%;
    }
    100% {
      transform: translateY(10px);
      opacity: 0%;
    }
  }
}

/*
  The default border color has changed to `currentcolor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentcolor);
  }
}

@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}


#custom-grid-size {
  grid-template-columns: repeat(20, minmax(0, 1fr));
  grid-template-rows: repeat(10, minmax(0, 1fr));
}

#custom-grid-size-mobile {
  grid-template-columns: repeat(14, minmax(0, 1fr));
  grid-template-rows: repeat(12, minmax(0, 1fr));
}

.width-col-span {
  grid-column: span 18 / span 18;
}

.width-col-span-mobile {
  grid-column: span 12 / span 12;
}


.carousel-animation-1 {
  animation: carousel-animation-1 10s infinite linear;
}

.carousel-animation-2 {
  animation: carousel-animation-2 10s infinite linear;
  animation-delay: 5s;
}

@keyframes carousel-animation-1 {
  0% {
    transform: translateX(100%);
  }
  50% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

@keyframes carousel-animation-2 {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}


